<template>
    <div>
        <v-parallax class="board" height="850" width="1000" src="../assets/ILxRSe.jpg" alt="">
           <div class="bighead">
            <h1>about</h1> 
            
            <h1>me</h1> 
           </div>
            <v-col cols="8">
            <v-card class="aboutcard"
            dark
            width="600"
            raised
            shaped
            >
            gh0stam is a composer, songwriter, producer, multi-instrumentalist, and human bean who would be happy to help you make some noise. With 20+ years of experience, I am confident we can discover the exact sound you need. 
          <br>
          <hr>
          <br>
            <br>

  <v-expansion-panels>
    <v-expansion-panel
    >
      <v-expansion-panel-header>
        <h1 class="gear">gh0st gear</h1>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
            <ul>
            <li>Native Instruments: KOMPLETE KONTROL S88</li>
            <li>Fender Telecaster</li>
            <li>Expressive E Touch MIDI Controller</li>
            <li>Logic Pro X</li>
            <li>Native Instruments KOMPLETE 13</li>
            <li>Embertone Vst</li>
            <li>East West Orchestral Vst</li>
            </ul>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
            <hr>
            </v-card>
                </v-col>


         <!-- <div class="d-lg-none">   
            <v-card class="smallcard"
            dark
            width="300"
            raised
            shaped
            
            >
            gh0stam is a composer, songwriter, producer, multi-instrumentalist, and human bean who would be happy to help you make some noise. With 20+ years of experience, I am confident we can discover the exact sound you need. 
          <br>
          <hr>
          <br>
            <h2>gh0st gear</h2>
            <br>
            <hr>
            <ul>
                <li>Native Instruments: KOMPLETE KONTROL S88</li>
                <li>Fender Telecaster</li>
                <li>Expressive E Touch MIDI Controller</li>
                <li>Logic Pro X</li>
                <li>Native Instruments KOMPLETE 13</li>
                <li>Embertone Vst</li>
                <li>East West Orchestral Vst</li>
            </ul>
            </v-card>  
         </div> -->
        </v-parallax>
    </div>
</template>

<script>
export default {

}
</script>

<style>
    /* .about {
        height: 1000px;
    } */
    .board {
        filter: grayscale(100%);
    }

    .bighead {
        position: absolute;
        font-size: 75px;
        left: 225px;
        top: 20px;
    }

    .aboutcard {
        position: absolute;
        left: 50%;
        bottom: 30%;
        opacity: 100%;
        font-size: 24px;
    }
    .smallcard {
        position: absolute;
        bottom: 10%;
        left: 40%;
        opacity: 100%;
        font-size:24px;
    }
    
    .li {
        list-style-type: none;
    }
    .ul {
        list-style-type: none;
    }
    .gear {
        text-align: center;
    }
</style>