<template>
      <v-parallax height="1000" src="../assets/Gh0stam_2.png">
      <br>
      <h1 class="reach">REACH OUT</h1>
      <h3>interact with me here, here, and also here</h3>
      <br>
        <div class="d-none d-lg-block">
    <v-row justify="center">
      <v-col cols="4">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="300"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn 
        icon 
        color="white" 
        x-large 
        v-bind="attrs"
        v-on="on">
        <v-icon>mdi-email</v-icon>
           email
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline">
          Leave gh0stam?
        </v-card-title>
        <v-card-text>You are about to leave this site and open a new window, are you sure you want to continue?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            text
            @click="dialog = false"
          >
            Disagree
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="dialog = false"
          >
            Agree
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
      </v-col>
            <v-col cols="4">
                <v-btn icon color="white" x-large v-bind="attrs"
          v-on="on">
                    <v-icon>mdi-instagram</v-icon>
                    INSTA
                </v-btn>
            </v-col>
            <v-col cols="4">
                <v-btn icon color="white" x-large>
                    <v-icon>mdi-twitter</v-icon>
                    Tweet
                </v-btn>
            </v-col>
          </v-row>
        </div>  
        <br>
        <br>
        <h1 class="touch">KEEP IN TOUCH</h1>
        <h3>keep up to date by joining my mailing list</h3>
  <v-form v-model="valid"  class="white--text">
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="4"
        >
          <v-text-field 
            light
            class="tf"
            v-model="firstname"
            :rules="nameRules"
            :counter="10"
            label="First name"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            light
            class="white--text"
            v-model="lastname"
            :rules="nameRules"
            :counter="10"
            label="Last name"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            id="tf"
            color="blue darken-2"
            light
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-btn>submit</v-btn>
      <v-snackbar v-model="snackbar" :timeout="4000">
        <span>nice, thanks for doing that</span>
        <v-btn flat color="white">close</v-btn>
        </v-snackbar>
    </v-container>
  </v-form>
  <h1 class="touch">LET'S MEET</h1>
  <h3>pick a date to see if I'm available to meet, talk, or collaborate</h3>
  <br>
  <v-row justify="center" dense>
    <v-date-picker
     v-model="picker"
     color="grey"
     dark
     ></v-date-picker>
  </v-row>
      </v-parallax>  
</template>




<style>
    .reach {
     font-size: 75px;
    }
    .touch {
     font-size: 75px;
    }
   #tf {
     color: white !important;
   }
   
</style>

<script>
  export default {
    data: () => ({
      dialog: false,
      valid: false,
      firstname: '',
      lastname: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 10 || 'Name must be less than 10 characters',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
      snackbar: true,  
    }),
  }
</script>