<template>
  <div>
    <v-parallax height="1000" src="../assets/Gh0stam_2.png">
   <v-img class="ghostimg" max-height="800" max-width="400" src="../assets/gh0stam_Final-Logo-Ghost_White_RGB.png"></v-img>
      </v-parallax>
  </div>
</template>

<script>
  export default {
    name: 'Home',

    data: () => ({
      ecosystem: [
        
      ],
    }),
  }
</script>
<style>
.ghostimg {
  align-content: center;
  left: 40%;
  bottom: 9%;
  opacity: 70%;
}

</style>