<template>
    <div class="music">
        <v-parallax height="1000" src="../assets/Gh0stam_1.png">
        <br>
        <v-row>
          <v-col cols="6">
            <v-img class="text-center" id="ghostimg2" max-height="750" max-width="800" src="../assets/gh0stam_Final-Logo-Full_Black_RGB.png"></v-img>
          </v-col>
          <v-col cols="6">

<v-container>
    <v-row justify="space-around">
      <v-card width="850">
          <v-app-bar
            flat
            dark
          >
            <v-toolbar-title class="title white--text pl-0">
              Songs
            </v-toolbar-title>
            <div class="text-center">
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          light
          v-bind="attrs"
          v-on="on"
          right
          absolute
          small
        >
          Albums
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, index) in items"
          :key="index"
        >
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
          </v-app-bar>
          <v-card-title class="white--text mt-8">
            <v-tooltip bottom>
              <template v-slot:activator="{on, attrs}">
              <v-avatar size="85"  v-bind="attrs" v-on="on">
              <img
                src="../assets/gh0stam_Final-Logo-Badge2_Gray1_RGB.png"
              >
               </v-avatar>
             </template>
             <span>Choose a song to listen to here!</span>
            </v-tooltip>
            <p justify="space-around">
              
            </p>
          </v-card-title>
        <v-card-text>
          <div class="font-weight-bold ml-8 mb-2">
            Selcted Tracks
          </div>
          <v-data-table
    :headers="headers"
    :items="songs"
    :items-per-page="5"
    class="elevation-1"
  ></v-data-table>
          <!-- <v-simple-table
          >
            <v-data-table
              v-for="songs in songs"
              :key="songs.time"
              small
            >
              <div>
                <div class="font-weight-normal">
                </div>
                  <strong>{{ songs.title }}</strong> 
                <v-chip small :class="`${songs.album} white--text caption my-2`">Album: {{ songs.album }}</v-chip>
                <div>{{ songs.length }}</div>
              </div>
            </v-data-table>
          </v-simple-table> -->
        </v-card-text>
      </v-card>
    </v-row>
  </v-container>
    </v-col>
    </v-row>
      </v-parallax>
    </div>
</template>

<script>
  export default {
     data () {
      return {
        items: [
        { title: 'The Fakers' },
        { title: 'The Fakers part 2' },
      ],
        headers: [
          {

            align: 'start',
            sortable: false,
            value: 'name',
          },
          { text: 'Title', value: 'title' },
          { text: 'Length', value: 'length' },
          { text: 'Album', value: 'album' },
        ],
      
      songs: [
        {
          title: 'Song One',
          length: '3m42s',
          album: 'The Fakers',
  
        },
        {
          title: 'Another Song',
          length: '4m',
          album: 'The Fakers',

        },
        {
          title: 'Yes, Even More Song',
          length: '5m13s',
          album: 'The Fakers',

        },
        {
          title: 'Wow, song again',
          length: '6m43s',
          album: 'The Fakers part 2',

        },
        {
          title: 'Ok too much song',
          length: '8m',
          album: 'The Fakers part 2',

        },
      ],
    };
  }}
</script>

<style>

    #ghostimg2 {
        opacity: 60%;
    }

  
</style>