<template>
  <v-app-bar
  height="120"
  dark
  app
  class=""
  >
<div class="d-lg-none">
  <v-speed-dial
      :top="top"
      :bottom="bottom"
      :right="right"
      :left="left"
      direction="bottom"
      transition="scale"
    >
      <template v-slot:activator>
        <v-btn
          icon
        >
          <v-icon>
            mdi-menu
          </v-icon>
        </v-btn>
      </template>
      <v-btn
        fab
        dark
        small
        color="grey"
        to="/"
      >
        <v-icon>mdi-home</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="grey"
        to="/music"
      >
        <v-icon>mdi-music</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="grey"
        to="/about"
      >
      <v-icon>mdi-account</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="grey"
        to="/contact"
      >
      <v-icon>mdi-email</v-icon>
      </v-btn>
   </v-speed-dial>
  </div>
  <v-row justify-md="center">

    <v-col cols="1">
      <img height="100" src="../assets/gh0stam_Final-Logo-Badge2_Gray2_RGB.png" alt="">
    </v-col>  
    <v-col cols="7"></v-col>
    <v-col cols="1" style="margin-top: 30px">
      <v-btn
        height="50"
        right
        text
 
        to="/"
        
      >
      home
      </v-btn>  
    </v-col> 
    <v-col cols="1" style="margin-top: 30px">
      <v-btn
        height="50"
        right
        text

        to="music"
      >
      music
      </v-btn>    
    </v-col>
    <v-col cols="1" style="margin-top: 30px">

      <v-btn
        text
        height="50"

        to="about"
      >
      about
      </v-btn>  
    </v-col>
    <v-col cols="1" style="margin-top: 30px">

      <v-btn
        text
        height="50"

        to="contact"
      >
      contact
      </v-btn>  
    </v-col>
  </v-row>
  </v-app-bar>
</template>

<script>
export default {
  
  }
</script>

<style>

</style>